.profile-head
{
	transform: translate(5rem);
}
.cover
{
	background-image: url(quote.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
body{
	background:#654ea3;
	background:linear-gradient(to right,#e96443,#904e95);
}
